@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    position: fixed;
    z-index: 100;
}

.header .nav-items a{
    margin-left: 3.5rem;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}

.header .nav-items a:hover,
.header .nav-items a.active{
    color: var(--main-color);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.header #menu-icons{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
      padding: 10rem 9% 2rem;
}

.home{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home .home-content{
    max-width: 60rem;
}

.home .home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home .home-content h1 span{
    color: var(--text-color);
}


.home .home-content .text-animate{
    width: 33.8rem;
}

.home .home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}

.home .home-content  p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    color: var(--text-color);
}

.btn-box{
    width: 34.5rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-color);
    position: relative;
}

.btn-box .btn{
    background: var(--main-color);
    height: 100%;
    width: 15rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    font-weight: 650;
    font-size: 1.2rem;
    letter-spacing: .1 rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: var(--bg-color);
}

.btn-box .btn:hover{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box .btn::before{
    content: '';
    background: var(--bg-color);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
    z-index: -1;
}

.btn-box .btn:hover::before{
    width: 100%;
}

.home-content .icon-box{
    position: absolute;
    width: 170px;
    bottom: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-content .icon-box a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    font-size: 20px;
    color: var(--main-color);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.home-content .icon-box a:hover{
    color: var(--bg-color);
}

.home-content .icon-box a::before{
    content: '';
    background: var(--main-color);
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.home-content .icon-box a:hover::before{
    width: 100%;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading{
    font-size: 5rem;
    padding-bottom: 3rem;
    text-align: center;
}

span{
    color: var(--main-color);
}

.about .about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid var(--main-color);
    overflow: hidden;
}

.about .about-img img{
    width: 100%;
} 

.about .about-content{
    text-align: center;
}

 .about .about-content h3{
    font-size: 2.6rem;
}

.about .about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.education{
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem;
}

.education-row .education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}

.education-column .education-box .education-content{
    position: relative;
    padding: 2rem;
}

.education-column .education-box .education-content::before{
    content: '';
    background: var(--main-color);
    width: 2rem;
    height: 2rem;
    top: 0;
    left: -1.1rem;
    border-radius: 50%;
    position: absolute;
}

.education-column .education-box .education-content .content{
    position: relative;
    border: .2rem solid var(--main-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
    z-index: 1;
    overflow: hidden;
}

.education-column .education-box .education-content .content::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: var(--second-bg-color);
}

.education-column .education-box .education-content .content:hover:before{
    width: 100%;
}

.education-content .content .year{
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: .5rem;
}

.education-content .content .year i{
  padding-right: .5rem;
}

.education-content .content h3{
  font-size: 2rem;
}

.education-content .content p{
  font-size: 1.6rem;
  padding-top: .5rem;
}

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}


.skills-box .skills-content{
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover:before{
    width: 100%;
}

.skills-box .skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span{
  color: var(--text-color);
}

.skills-content .progress .bar{
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span{
  height: 100%;
  background: var(--main-color);
  border-radius: .3rem;
  display: block;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
  width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
  width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
  width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
  width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 90%;
}

.projects{
    min-height: auto;
    padding-bottom: 7rem;
}

.projects .projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box{
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    position: relative;
}

.projects .projects-container .projects-box img{
    width: 100%;
    transition: .5s ease;
}

.projects-box .projects-layer{ 
    position: absolute;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color));
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer{
  transform: translateY(0);
}

.projects-box:hover img{
  transform: scale(1.1);
}

.projects-box .projects-layer h4{
  font-size: 3rem;
}

.projects-box .projects-layer p{
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
  font-weight: 600;
}

.projects-box .projects-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.projects-layer a i{
  font-size: 2.5rem;
  color: var(--second-bg-color);
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    text-align: center;
    max-width: 70rem;
    margin: 0 auto;
}

.contact form .input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem 0;
  color: var(--text-color);
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
  color: var(--text-color);
}

.contact form .focus{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
  width: 100%;
}

.contact form .textarea-field{
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea{
  resize: none;
}

.contact form .btn-box.btns .btn{
  cursor: pointer;
}
.contact form .btn-box.btns{
  width: 100%;
}