@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    position: fixed;
}

.header .nav-items a{
    margin-left: 3.5rem;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}

.header .nav-items a:hover,
.header .nav-items a.active{
    color: var(--main-color);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.header #menu-icons{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
}

.home{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home .home-content{
    max-width: 60rem;
}

.home .home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home .home-content h1 span{
    color: var(--main-color);
}


.home .home-content .text-animate{
    width: 33.8rem;
}

.home .home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}

.home .home-content  p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    color: var(--text-color);
}

.btn-box{
    width: 34.5rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-color);
    position: relative;
}

.btn-box .btn{
    background: var(--main-color);
    height: 100%;
    width: 15rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    font-weight: 650;
    font-size: 1.2rem;
    letter-spacing: .1 rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: var(--bg-color);
}

.btn-box .btn:hover{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box .btn::before{
    content: '';
    background: var(--bg-color);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
    z-index: -1;
}

.btn-box .btn:hover::before{
    width: 100%;
}

.home-content .icon-box{
    position: absolute;
    width: 170px;
    bottom: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-content .icon-box a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    font-size: 20px;
    color: var(--main-color);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.home-content .icon-box a:hover{
    color: var(--bg-color);
}

.home-content .icon-box a::before{
    content: '';
    background: var(--main-color);
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.home-content .icon-box a:hover::before{
    width: 100%;
}