@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    position: fixed;
}

.header .nav-items a{
    margin-left: 3.5rem;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}

.header .nav-items a:hover,
.header .nav-items a.active{
    color: var(--main-color);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.header #menu-icons{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}